services:
  psql:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: postgres
      # my condolences
      POSTGRES_PASSWORD: skbiditoilet
    volumes:
      - ./psql:/var/lib/postgresql
    ports:
      - 5555:5432
  redis:
    image: redis:7.4-alpine
    volumes:
      - ./redis:/data
    ports:
      - 6379:6379
  mediamtx:
    image: bluenviron/mediamtx:latest
    network_mode: "host"
    # ports:
    #   - 8890:8890/udp
    #   - 8891:8888
    #   - 9997:9997
    volumes:
      - ./mediamtx.yml:/mediamtx.yml