ACME_EMAIL=ops@hackclub.tv
CF_DNS_API_TOKEN=cloudflare_dns_edit_token

# public hostnames and stuff
MEDIAMTX_HLS_HOST=hls.hackclub.tv
MEDIAMTX_WEBRTC_HOST=whip.hackclub.tv
MEDIAMTX_API_HOST=mmtxapi.hackclub.tv

# public ip for webrtc stuff
MEDIAMTX_WEBRTC_ADDITIONAL_HOSTS=203.0.113.10

MEDIAMTX_AUTH_HTTP_ADDRESS=https://hackclub.tv/api/mediamtx/publish
MEDIAMTX_AUTH_HTTP_FINGERPRINT=
